
:root{
    --font-sans-serif: arimo, sans-serif;
    --font-serif: palatino, serif;
    --white: #ffffff;
    --grey: #d1d1d1;
    --yellow: #fff713;
    --orange: #f26d21;
    --black: #000000;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    font-family: var(--font-serif);
    font-size: 1.25em;
    line-height: 1.6;

  }