
:root{
    --font-sans-serif: arimo, sans-serif;
    --font-serif: palatino, serif;
    --white: #ffffff;
    --grey: #d1d1d1;
    --yellow: #fff713;
    --orange: #f26d21;
    --black: #000000;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
/** typography **/

h1,h2{
    font-family: var(--font-serif);
    font-weight: 575;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2em;
    margin: 0;
}

h3{
    font-family: var(--font-sans-serif);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}

h1,h3{
    text-transform: uppercase;
}

a{
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color:initial;
}
a:visited {
    color:var(--black);
}
a:hover {
    color:var(--orange);
}

body{
    font-family: var(--font-serif);
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: .58em;
  }

/** Image **/
img{
      max-width: 100%;
      display: block;
  }

/** Image **/
nav{
    display: flex;
    font-family: var(--font-sans-serif);
    font-size: 1.25rem;
    line-height: 2rem;
    padding-bottom: .58em;
    border: red solid 2px;
}
ul {
    list-style-type: none;
    text-align: center;
    border: red solid 2px;
}

li {
    display: inline;
    border: red solid 2px;
    }
}    
/** componant **/
.component img{
      max-width: initial;
  }

.component__img{
      overflow-x: auto;
      border: var(--orange) solid 1px;
  }