:root{
    --font-sans-serif: arimo, sans-serif;
    --font-serif: palatino, serif;
    --white: #ffffff;
    --grey: #d1d1d1;
    --yellow: #fff713;
    --newsyellow: #FFF7A3; 
    --orange: #f26d21;
    --black: #000000;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  } 

/** Aside and Componant layout
.index {
    width: 20%;
    height: auto;
    float: left;
    background-color: var(--yellow);
    position: fixed;
    padding: 1.5em;
}
.content {
    width:80%;
    float: right;
    padding: 1em;
}
.index a{
    display: block;
    font-size: .75em;
    letter-spacing: 1px;
}
h4 {
    font-family: var(--font-sans-serif);
    font-weight: 700;
    letter-spacing: 3px;
    
    margin: 0;
}

h5 {
    font-family: var(--font-serif);
    font-size: .75em;
    letter-spacing: 1px;
     margin: 0 0 0 0;
}

.component img {
    max-width: initial;
}

.component__img{
    overflow-x: auto;
    border: var(--yellow) solid 1px;
    margin: 0em 0em 1em 0em; 
}

.component {
    border: var(--orange) solid 1px;
    margin: .5em 0em;
    padding: 1.5em;
}

.nav-sample {
    font-family: var(--font-sans-serif);
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: .58em;
    letter-spacing: 1px;
}

.nav-sample .white{
    color: var(--white);
}
**/


/** Universal Styling **/
body{
    font-family: var(--font-serif);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--grey);
  }

  P {
    line-height: 2rem;
    margin: 0px;
  }


/** Article & Blog Card **/

.card {
    margin-bottom: 1.5rem;
}
.padding {
    padding: 1.5rem;
}
.article{
    border: 2px solid var(--white);
  }
.blog{
    border: 2px solid var(--black);
  }


/** Current & Logo **/
.logo {
    margin-bottom: 1.5rem;
    width: 16.25rem;
}
.news {
    background-color: var(--newsyellow);
    border: 2px solid var(--newsyellow);
    font-family: var(--font-sans-serif);
    margin-top: 1.5rem;
}
.news a {
    border-bottom: 2px black solid;
    line-height: .5em;
}
.news a:hover {
    border-bottom: 2px var(--orange) solid;
}
.news .center a h3 {
    margin-top: 1.5rem;}
.center {
    text-align: center;
    margin-top: 1.5rem;
}
.current img {
    height: 16.25rem;
    width: auto;
}

/** Screen Size and Column **/

.main {
    max-width: 1236px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    }
    
    [data-col="1"] {flex: 0 0 33.33%;}
    [data-col="2"] {flex: 0 0 66.66%;}
    
.left_col{
    margin-left:0;
}

.mid_col{
    padding-left: 1.5rem;
}

/** typography **/
h1,h2{
    font-family: var(--font-serif);
    font-weight: 575;
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 0;
}
h3{
    font-family: var(--font-sans-serif);
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
}
h1,h3{
    text-transform: uppercase;
}
.card h1{
    padding-top: .5rem;
}
.card h2{
    padding-bottom: 1rem;
}
.card p{
    margin-bottom: 1.25rem;
}

/** Links **/
a{
    cursor: pointer;
}
a:link {
    text-decoration: none;
    color:initial;
}
a:visited {
    color:var(--black);
}
a:hover {
    color:var(--orange);
}

/** Image **/
img {
      width: 100%;
      display: block;
  }
.current img{
    margin-left: auto;
    margin-right: auto;
}
.article img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/** Header **/

nav{ 
    font-family: var(--font-sans-serif);
    font-size: 1.2rem;
    line-height: 2rem;
    height: 3.9rem;
    top: 0;
    border-bottom: var(--white) solid 2px;
    letter-spacing: 1px;
    align-items: center;
}

.navigation{
    background-color: var(--grey);
    position: sticky;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow:hidden;
    height: 3.9rem;
}
.wrapper a{
    color: var(--white);
}
.wrapper a:hover{
    color: var(--orange);
}
nav ul{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
/** Header Internal**/
.internal img{
    width: 1.25rem;
    height: auto;
    margin-right: 14px;
}
.internal a {
    margin:0;
}
/** Header link**/
.link a{
    color: var(--black);
}
.link li{
    margin-right: 14px;
}
.link li:last-of-type {
    margin:0;
}
/** Header login **/
.login img{
    width: 1.25rem;
    height: auto;
    margin-left: 14px;
}
.login a{
    margin:0px;
}

/** Assets & animation **/
.return {
    display: block;
    bottom: 24px;
}

.wrap{
    position: relative;
    right: 1.5rem;
    bottom: 6rem;
    width: 2.25rem;
    height: 2.25rem;
    z-index:10;
}

.wrap .icon{
    position: fixed;
    right: 1.5rem;
    bottom: 2rem;
    width: 2.25rem;
    height: 2.25rem;
    z-index:10;
}



.icon {
    position:relative;
    display: inline-block;
}
.icon .image--orange{
    position:absolute;
    display: none;
    top: 0;
    left: 0;
    z-index:99;
}
.icon:hover .image--orange{
    display: inline;
}

/** Footer **/
.foot { 
    font-family: var(--font-sans-serif);
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 2.5rem 0rem 2.5rem 0rem;
    border-top: var(--white) solid 2px;
    letter-spacing: 1px;
}

.foot ul { 
    list-style-type: none;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.foot li{ 
    padding: 0 16px;
    
    border-right: var(--white) solid 2px;
}

.foot li:last-of-type {
    border-right: none;
}

  /** Card Mock-up **/
  .mock-card {
    display: block;  
    
    border:var(--white) solid 2px;
  }
  .mock-padding {
    margin:1.5em;
  }



  .border {
    border: 2px solid var(--white);
  }

  
