<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Case Study : Cabinet</title>

        <link rel="stylesheet" href="https://use.typekit.net/rmz4jqv.css">
        <link rel="stylesheet" href="../css/fonts/Palatino.ttf">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <h1> Web Components</h1>
        <h2> Tyopgraphy Defaults</h2>
        
        <article class="component">
            <h3 class="component__name">Body</h3>
            <div class="component__img">
                <img 
                srcset="img/body/article__blurb.png 2x" 
                src="img/body/article__blurb.png" 
                alt="text sample">
            </div>
            <div class="component__code">
                <p>Popular in Europe since antiquity, books of dream interpretation—commonly referred to as dream dictionaries or, more simply, dream books—were first published in the United States in the latter half of the eighteenth century. Initially indistinguishable from those published contemporaneously in Great Britain, American dream books came into their own during the early to mid-nineteenth century, when publishers of cheap literature began selling dream books that catered to players of policy, an illegal lottery game then sweeping Northeastern cities. ...</p>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Headers (h1, h2, etc)</h3>
            <div class="component__img">
                <img 
                srcset="img/body/article__link.png 2x" 
                src="img/body/article__link.png" 
                alt="h1 h2 complete">
            <div class="component__img">
                <img 
                srcset="img/type/h1.png 2x" 
                src="img/type/h1.png" 
                alt="H1 sample">
            <div class="component__img">
                <img 
                srcset="img/type/h2.png 2x" 
                src="img/type/h2.png" 
                alt="H2 sample">
            </div>
            <div class="component__img">
                <img 
                srcset="img/type/h3.png 2x" 
                src="img/type/h3.png" 
                alt="H3 sample">
            </div>
            <div class="component__code">
                <h1>on dream sharing and its purpose</h1>
                <h2>Matthew Spellberg</h2>
                <h3>current issue</h3>
            </div>
        </article>
        <article class="component">
            <h3 class="component__name">Links</h3>
            <div class="component__img">
                <img 
                srcset="img/body/article--active.png 2x" 
                src="img/body/article--active.png" 
                alt="active link">
            </div>
            <div class="component__code">
                <a href="#"><h1>on dream sharing and its purpose</h1><h2>Matthew Spellberg</h2></a>
                <a href="#"><h3>current issue</h3></a>
            </div>
        </article>

        <article class="component">
            <h3 class="component__name">Nav Bar</h3>
            <div class="component__img">
                <img 
                srcset="img/navigation/organism internal nav.png 2x" 
                src="img/navigation/organism internal nav.png" 
                alt="internal navigation bar">
            <div class="component__img">
                <img 
                srcset="iimg/navigation/organism navbar__link-sections.png 2x" 
                src="img/navigation/organism navbar__link-sections.png" 
                alt="internal navigation bar">
            
            <nav class="component__code">
                <p>Cabinet</p>
                <p>Magazine</p>

            </nav>
        </article>
    </body>
</html>