<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        <title>Case Study : Cabinet</title>

        <link rel="stylesheet" href="https://use.typekit.net/rmz4jqv.css">
        <link rel="stylesheet" href="../css/fonts/Palatino.ttf">
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        
        <aside class="index">
            <h4>Typography</h4> 
            <a href="#text">Text</a>
            <a href="#headers">Headers</a>
            <a href="#links">links</a>
            
            <h4>Sections</h4>
            <a href="#navigation">Navigation Bar</a>
            <a href="#card">Body / Card</a>
            <a href="#footer">Footer</a>

            <h4>Visual Assets</h4>
            <a href="#image">Image</a>
            <a href="#assets">Assets</a>
        </aside>

        <div class="content">
        <h1> Web Components & Tyopgraphy Defaults</h1>

        <!-- text body -->
        <article class="component">
            <h4 class="component__name" id="text">Primary Text Body</h4>
            <div class="component__img">
                <img 
                srcset="img/body/article__blurb.png 2x" 
                src="img/body/article__blurb.png" 
                alt="text sample">
            </div>
            <div class="component__code">
                <p>Popular in Europe since antiquity, books of dream interpretation—commonly referred to as dream dictionaries or, more simply, dream books—were first published in the United States in the latter half of the eighteenth century. Initially indistinguishable from those published contemporaneously in Great Britain, American dream books came into their own during the early to mid-nineteenth century, when publishers of cheap literature began selling dream books that catered to players of policy, an illegal lottery game then sweeping Northeastern cities. ...</p>
            </div>
        </article>
        <!-- Headers -->
        <article class="component">
            <h4 class="component__name" id="headers">Headers (h1, h2, etc)</h4>

            <h5 class="commponant__tag"> H1 </h5>

            <div class="component__img">
                <img 
                srcset="img/type/h1.png 2x" 
                src="img/type/h1.png" 
                alt="H1 sample">
            </div>

            <h5 class="commponant__tag"> H2 </h5>

            <div class="component__img">
                <img 
                srcset="img/type/h2.png 2x" 
                src="img/type/h2.png" 
                alt="H2 sample">
            </div>

            <h5 class="commponant__tag"> H3 </h5>

            <div class="component__img">
                <img 
                srcset="img/type/h3.png 2x" 
                src="img/type/h3.png" 
                alt="H3 sample">
            </div>

            <h5 class="commponant__tag"> Header Molocule</h5>
            <div class="component__img">
                <img 
                srcset="img/body/article__link.png 2x" 
                src="img/body/article__link.png" 
                alt="h1 h2 complete">
            </div>

            <div class="component__code">
                <h1>on dream sharing and its purpose</h1>
                <h2>Matthew Spellberg</h2>
                <h3>current issue</h3>
            </div>
        </article>
        <!-- links -->
        <article class="component">
            <h4 class="component__name" id="links">Links</h4>
            <h5 class="commponant__tag"> Active Link Molocule </h5>
            <div class="component__img">
                <img 
                srcset="img/body/article--active.png 2x" 
                src="img/body/article--active.png" 
                alt="active link">
            </div>
            <h5 class="commponant__tag">Link Hover</h5>
            <div class="component__code">
                <div class="mock-card">
                    <div class="mock-padding">
                    <a href="#"><h1>on dream sharing and its purpose</h1><h2>Matthew Spellberg</h2></a>
                    <a href="#"><h3>current issue</h3></a>
                    </div>
                </div>
            </div>
            <h5 class="commponant__tag"> Active Icon </h5>
            <div class="component__img">
                <img 
                srcset="img/body/assets/icon-img__search-orangex2.png 2x" 
                src="img/body/assets/icon-img__search-orangex2.png" 
                alt="active search icon">
            </div>
            <h5 class="commponant__tag">Icon Hover</h5>
            <div class="component__code">
                <div class="icon">
                    <a>
                        <img 
                        srcset="img/body/assets/icon-img__search-whitex2.png 2x" 
                        src="img/body/assets/icon-img__search-whitex2.png" 
                        alt="white search icon">
                        <img 
                        class="image--orange"
                        srcset="img/body/assets/icon-img__search-orangex2.png 2x" 
                        src="img/body/assets/icon-img__search-orangex2.png" 
                        alt="orange search icon">
                    </a>
                </div>
            </div>

        </article>
        <!-- nav bar -->
        <article class="component">
            <h4 class="component__name" id="navigation">Nav Bar</h4>

            <h5 class="commponant__tag"> Nav Icons </h5>
            <div class="component__img">
                <img 
                srcset="img/navigation/atom-navbar__popout.png 2x" 
                src="img/navigation/atom-navbar__popout.png" 
                alt="internal index pop out">
            </div>
            <div class="component__code">
                <section class="image">
                    <img 
                    srcset="img/body/assets/icon-img__index-whitex2.png 2x" 
                    src="img/body/assets/icon-img__index-whitex2.png" 
                    alt="internal index popout">
                </section>
            </div>

            <h5 class="commponant__tag"> Home Return - appears once nav bar is passed </h5>
            <div class="component__img">
                <img 
                srcset="img/navigation/atom-home__button.png 2x" 
                src="img/navigation/atom-home__button.png" 
                alt="Home Button">
            </div>
            <div class="component__code">
                <div class="nav-sample">
                <a class="white" href="#">Cabinet</a>
                </div>
            </div>


            <h5 class="commponant__tag"> Internal Navigation Molocule </h5>
            <div class="component__img">
                <img 
                srcset="img/navigation/organism-internal-nav.png 2x" 
                src="img/navigation/organism-internal-nav.png" 
                alt="internal navigation bar">
            </div>

            <div class="component__code">
                <nav class="wrapper">
                    <ul class="wrapper internal">
                        <img 
                        srcset="img/body/assets/icon-img__index-whitex2.png 2x" 
                        src="img/body/assets/icon-img__index-whitex2.png" 
                        alt="internal index popout">
                        <li class="wrapper internal__link"><a href="#">Cabinet</a></li>
                    </ul>
                </nav>
            </div>

            <h5 class="commponant__tag"> Content Link </h5>
            <div class="component__img">
                <img 
                srcset="img/navigation/atom-mag.png 2x" 
                src="img/navigation/atom-mag.png" 
                alt="Content Link Sample">
            </div>
            <div class="component__code">
                <div class="nav-sample">
                    <a href="#">Magazine</a>
                </div>
            </div>

            <h5 class="commponant__tag"> Content Link Molocule </h5>
            <div class="component__img">
                <img 
                srcset="img/navigation/organism_navbar__link-sections.png 2x" 
                src="img/navigation/organism_navbar__link-sections.png" 
                alt="internal navigation bar">
            </div>

            <h5 class="commponant__tag"> Full Navigation Bar</h5>
            <div class="component__img">
                <img 
                srcset="img/navigation/organism-navbar.png 2x" 
                src="img/navigation/organism-navbar.png" 
                alt="full navigation bar">
            </div>

            <div class="component__code">
                <nav class="wrapper">
                    <ul class="wrapper internal">
                    <img 
                    srcset="img/navigation/atom-navbar__popout.png 2x" 
                    src="img/navigation/atom-navbar__popout.png" 
                    alt="internal index pop out">
                        <li class="wrapper internal__link"><a href="#">Cabinet</a></li>
                    </ul>
                    
                    <ul class="wrapper link">
                        <li class="wrapper link__link"><a href="#">Magazine</a></li>
                        <li class="wrapper link__link"><a href="#">Kiosk</a></li>
                        <li class="wrapper link__link"><a href="#">Books</a></li>
                        <li class="nwrapper link__link"><a href="#">Activities</a></li>
                        <li class="wrapper link__link"><a href="#">Shop</a></li>
                        <li class="wrapper link__link"><a href="#">Subscribe</a></li>
                    </ul>
                    
                    <ul class="wrapper login">
                        <li class="wrapper login__link"><a href="#">Log In</a></li>
                        <img 
                        srcset="img/navigation/atom-navbar__link__search.png 2x" 
                        src="img/navigation/atom-navbar__link__search.png" 
                        alt="Search">
                    </ul>
                </nav>
            </div>
        </article>
        <!-- footer -->
        <article class="component">
            <h4 class="component__name" id="footer">Footer</h4>

            <h5 class="commponant__tag"> Footer Link </h5>
            <div class="component__img">
                <img 
                srcset="img/footer/atom-footer__intagram.png 2x" 
                src="img/footer/atom-footer__intagram.png" 
                alt="footer Link Sample">
            </div>
            <div class="component__code">
                <div class="nav-sample">
                    <a href="#">Instagram</a>
                </div>
            </div>

            <h5 class="commponant__tag">Full Footer</h5>
            <div class="component__img">
                <img 
                srcset="img/footer/Footer.png 2x" 
                src="img/footer/Footer.png" 
                alt="footer">
            </div>
            
            <div class="component__code">
                <section class="foot">

                    <ul class="foot__contact">
                        <li class="foot__contact__link"><a href="#">Instagram</a></li>
                        <li class="foot__contact__link"><a href="#">Twitter</a></li>
                        <li class="foot__contact__link"><a href="#">Facebook</a></li>
                        <li class="foot__contact__link"><a href="#">RSS</a></li>
                        <li class="foot__contact__link"><a href="#">Join our mailing list</a></li>
                    </ul>
                </section>
            </div>
        </article>
        <!-- Image -->
        <article class="component">
            <h4 class="component__name" id="image">Image</h4>
            
            <h5 class="commponant__tag"> Hero Image </h5>
            <div class="component__img">
                <img 
                srcset="img/body/image/atom-image__hero.png 2x" 
                src="img/body/image/atom-image__hero.png" 
                alt="Hero Image">
            </div>

            <div class="component__code">
                <section class="image">
                    <img 
                    srcset="img/body/image/atom-image__hero.png 2x" 
                    src="img/body/image/atom-image__hero.png" 
                    alt="Hero Image">
                </section>
            </div>

            <h5 class="commponant__tag"> Article Thumb </h5>
            <div class="component__img">
                <img 
                srcset="img/body/image/atom-image__article.png 2x" 
                src="img/body/image/atom-image__article.png" 
                alt="Article Thumnail">
            </div>

            <div class="component__code">
                <section class="image">
                    <img 
                    srcset="img/body/image/atom-image__article.png 2x" 
                    src="img/body/image/atom-image__article.png" 
                    alt="Article Thumnail">
                </section>
            </div>

            <h5 class="commponant__tag"> Issue Thumb </h5>
            <div class="component__img">
                <img 
                srcset="img/body/image/atom-image__current.png 2x" 
                src="img/body/image/atom-image__current.png" 
                alt="Issue Image">
            </div>

            <div class="component__code">
                <section class="image">
                    <img class="article-thumb"
                    srcset="img/body/image/atom-image__current.png 2x"
                    src="img/body/image/atom-image__current.png"
                    alt="article thumbnail">
                </section>
            </div>
        </article>
        <!-- assets -->
        <article class="component">
            <h4 class="component__name" id="assets">Assets</h4>
            <div class="component__img">
                <img 
                srcset="img/body/assets/logo.png 2x" 
                src="img/body/assets/logo.png" 
                alt="main logo">
            </div>
            
            <div class="component__code">
                <img class="image" 
                srcset="img/body/assets/logo.png 2x"
                src="img/body/assets/logo.png"
                alt="Main Logo">
            </div>

            <h5 class="commponant__tag"> Animated gif </h5>
            <div class="component__img">
                <img 
                srcset="img/body/assets/atom-animated_book.png 2x" 
                src="img/body/assets/atom-animated_book.png" 
                alt="main logo">
            </div>

            <div class="component__code">
                <section class="image">
                    <img
                    src="img/body/assets/white_book_24.gif"
                    alt="animated book advertizement">
                </section>
            </div>

            <h5 class="commponant__tag"> Internal advertisemsent </h5>
            <div class="component__img">
                <img 
                srcset="img/body/assets/homepage_rentourspacewhite.png 4x" 
                src="img/body/assets/homepage_rentourspacewhite.png" 
                alt="Rent our space">
            </div>

            <div class="component__code">
                <section class="image">
                    <img
                    srcset="img/body/assets/homepage_rentourspacewhite.png 4x"
                    src="img/body/assets/homepage_rentourspacewhite.jpg"
                    alt="Rent our space">
                </section>
            </div>
            <h5 class="commponant__tag"> Return Button (right float)</h5>
            <div class="component__img">
                <img 
                srcset="img/footer/organism-footer.png 2x" 
                src="img/footer/organism-footer.png" 
                alt="Top">
            </div>

            <div class="component__code">
                <section class="return">
                    <img 
                    srcset="img/body/assets/icon-img__top-whitex2.png 2x" 
                    src="img/body/assets/icon-img__top-whitex2.png" 
                    alt="Top">
                </section>
            </div>

            

        </article>
        <!-- Card -->
        <article class="component">
            <h4 class="component__name" id="card">Cards</h4>

            <div class="component__code">
                <article class="card-article">
                    <div class="padding">
                    <h3>issue 67</h3>
                    <a href="#">
                        <img 
                        srcset="img/body/image/atom-image__article.png 2x" 
                        src="img/body/image/atom-image__article.png" 
                        alt="Article Thumnail">
                        <h1>on dream sharing and its purpose</h1>
                        <h2>Matthew Spellberg</h2>
                    </a>
                    <p>Popular in Europe since antiquity, books of dream interpretation—commonly referred to as dream dictionaries or, more simply, dream books—were first published in the United States in the latter half of the eighteenth century. Initially indistinguishable from those published contemporaneously in Great Britain, American dream books came into their own during the early to mid-nineteenth century, when publishers of cheap literature began selling dream books that catered to players of policy, an illegal lottery game then sweeping Northeastern cities. ...</p>
                    <h3>read more</h3>
                </div>
                </article>
            </div>
        </article>
    </div>
    </body>

</html>